.commin-header{
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
    .header{
        display: flow-root;
        // overflow: hidden;
        width: 100%;height: 54px;background-color: #000000;
    }
    .l{float: left;}
    .r{float: right;}

    .logo{
        margin: 2px;
        margin-right: 15px;
        margin-left: 0;
    }
    .txtlogo{
        margin: 18px;
        margin-right: 0;
        margin-left: 0;
    }
    .lien{
        width: 1px;
        height: 16px;
        margin-left: 15px;margin-right: 15px;
        margin-top: 19px;margin-bottom: 19px;
        background-color: #ffffff;
    }
    .description{
        line-height: 54px; font-size: 13px;color: #fff;
    }
    .nav{
        line-height: 54px;
        margin-left: 8%;
        .item{
            float: left;
        }
        .router-link-active{
            float: left;
            height: calc(54px - 4px);
            border-bottom: 4px solid #00a2ff;
        }
        .active{
            float: left;
        }
        .content{
            padding-left: 10px;padding-right: 10px;font-size: 18px;color: #fff;float: left;
        }
    }
    .search{
        // float: left;
        // margin-left: 7.5%;
        margin-right: 25px;
        width: 220px;
        // margin: 0 auto;
        position: relative;
        height: 54px;
        .li{width: 100%;
            top: 0;
            bottom: 0;
            margin: auto;
            position: absolute;
            height: 30px;
            border-bottom: 1px solid #8f8f8f;
            .icon{
                margin: 5px;
                float: left;
            }
            .input{
                float: right;
                height: 100%;
                width: calc(100% - 30px);
                
                input{
                    width: 100%;
                    height: 100%;
                    border: 0;
                    margin: 0;
                    padding: 0;
                    background-color: #000000;
                    outline-style:none;
                    color: #fff;
                }
            }
        }
    }
    
    .userhead{
        .ico{float: right;color: #ffffff;line-height: 54px;}
        .img{
            margin-right: 15px;
            float: right;
            height: 54px;
            width: 54px;
            img{
                width: 100%;
            }
        }
    }

    .icobut{
        margin-right: 25px;
        position: relative;
        height: 54px;
        width: 22px;
        .img{width: 22px;height: 22px;position: absolute;top: 0;bottom: 0;margin: auto;}
    }

    .porup{
        z-index: 20;
        position: absolute;
        height: 450px;
        top: 54px;
        right: 3.5%;
        width: 320px;
        background-color: #fff;
        border-bottom: 1px solid #c0c0c0;
        border-left: 1px solid #c0c0c0;
        border-right: 1px solid #c0c0c0;
        .user{
            border-bottom: 1px solid #dadada;
            display: flow-root;
            padding-left: 25px;
            margin-top: 30px;
            padding-bottom: 30px;
            .header{float: left;
                width: 50px;height: 50px;
                border-radius:50px;overflow: hidden;
                img{
                    width: 100%;
                }
            }
            .rbox{float: left;height: 50px;margin-left: 15px;}
            .username{height: 25px;font-size: 16px;font-weight: bold;}
            .button{height: 25px;font-size: 14px;color: #007eff;}
        }
        .mun{
            margin-top: 25px;
            .item{
                height: 20px;margin-left: 36px;line-height: 20px;margin-bottom: 29px;
                .ico{height: 20px;width: 20px;float: left;
                img{
                    width: 100%;
                }}
                .name{float: left;height: 20px;margin-left: 15px;line-height: 20px;font-size: 12px;}
            }
        }
        .search2{
            position: relative;
            border-top: 1px solid #dadada;
            padding: 36px;
            .buttom{
                font-size: 14px;
                line-height: 36px;
                text-align: center;
                position: absolute;
                width: 50px;height: 34px;
                // background-color: #f4f4f4;
                right: 28px;
                top: 36px;
                border: 1px solid #000;
                padding: 2px;
            }
            .input{width: 76%;height: 34px;}
        }
        .logout{
            position: absolute;
            right: 25px;
            bottom: 25px;
            .ico{float: right;line-height: 25px;}
            .txt{float: right;line-height: 25px;margin-right: 15px;font-size: 12px;}
        }
    }

}

@media screen and (max-width: 1200px) {
    .commin-header{
        .search{float: left;margin-left: 4%;}
        .lien{display: none;}
        .description{display: none;}
        .nav{
            margin-left: 4%;
        }
    }
}

@media screen and (max-width: 992px) {
    .commin-header{
        .porup{
            z-index: 20;
            position: absolute;
            height: calc(100vh - 54px);
            top: 54px;
            right: 0;
            width: 320px;
            background-color: rgba(255, 255, 255, 0.439);
            // border-bottom: 0px solid #c0c0c0;
            border-left: 1px solid #c0c0c0;
            // border-right:0px solid #c0c0c0;
        }
    }
}

@media screen and (max-width: 768px) {
    .layoutPages{
        margin-top: 50px;
    }
}